.service-card{
    margin-bottom: 30px;
}
.service-image{
    height: 260px;
}
.service-text{
    line-height: 1;
    font-size: 1.1rem;
    color: rgb(66, 66, 66);
    font-weight: 400;
    text-align: justify;
}
.card-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-bottom p{
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 400;
}