.about-hole{
    width: 100%;
    position: relative;
    margin-bottom: 1050px;
    background-color: gainsboro;

}
.about-top{
    width: 100%;
    height: 250px;
    background-image: url('https://img.freepik.com/free-vector/healthcare-medical-blue-background-banner_1017-20041.jpg?size=626&ext=jpg&ga=GA1.1.1648005366.1676351876&semt=ais');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-top-text{
    /* border: 1px solid white; */
    width: 300px;
    color: white;
    align-items: center;
}
.about-top-text p{
    font-size: 1.2rem;
    color: white;
}
.about-container{
    width: 90%;
    /* border: 1px solid black; */
    margin: 0 auto;
    position: absolute;
    top: 170px;
    left: 80px;
    height: auto;
    /* z-index: 1; */
   background-color:white;
    /* margin-top: 50px; */
}
.left-about{
    /* border: 1px solid brown; */
    margin-right: 20px;
    background-color: white;
}
#book{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    color: gray;
    font-size: 1.2rem;
}
#working{
    margin-bottom: 30px;
}
.working-hour{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.timebooking{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    text-decoration: none;
    /* border: 1px solid brown; */
    background-color: brown;
    color: white;
    padding: 3px 8px;
    color: white;
}
.timebooking p{
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-right: 5px;
}
.contact{
    margin-top: 30px;
    color: gray;
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.contact-mobile{
    display: flex;
    margin-bottom: 10px;
}
.mobile-con{
    font-size: 2rem;
    margin-right: 20px;
}
.contact-mobile p{
    text-align: center;
    color: rgb(56, 55, 55);
    font-size: 1rem;
}
.info{
    margin-bottom: 30px;
}
.right-about{
    /* border: 1px solid gray; */
    border-bottom: 1px solid gainsboro;
   
}
#about-top-text{
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(57, 57, 57);
    margin-top: 40px;
    text-align: justify;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}
.about-bottom-text{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.about-bottom-text p{
    line-height: 1.5rem;
    text-align: justify;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.about-botom-left{
    margin-right: 20px;
    width: 45%;
    
}
@media only screen and (max-width:688px){
    .about-hole{
        position: relative;
        margin-bottom:2800px;
    }
    .about-container{
        position: absolute;
        left: 10px;
        width: 100%;
    }
    #about-top-text{
        padding: 20px;
    }
    .about-bottom-text{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .about-botom-left{
        /* border: 1px solid brown; */
        width: 90%;
        text-align: center;
    }
}
