.home-banner-container{
    width: 100%;
    height: 550px;
    /* margin-bottom: 150px; */
}

.carouselss{
    width: 100%;
    height: 550px;
}

.c-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-text{
    position: absolute;
    top: 18%;
    left: 0;
    /* border: 1px solid white; */
    width: 30%;
    height: 270px;

}
.carousel-text h1{
    text-align: left;
    font-size: 3.3rem;
    
}
.carousel-text p{
    text-align: left;
    color: white;
    line-height: 2;
    font-size: 1.4rem;
    /* color: rgb(249, 248, 248); */
}

.c-image{
    width: 100%;
    height: 550px
}
.home-btn{
    background-color:rgb(53, 134, 134);
    padding: 8px 15px;
    color: white;
    
    
}
.c-item::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to right ,#515151 0%,rgba(81, 81, 81, 0)100%);
}