.blog-container{
    width: 90%;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 30px;
}
.blog-left{
    /* border: 1px solid brown; */
}
.blog{
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}
.blog-head{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 20px;
    margin-bottom: 30px;
}
.pin{
    font-size: 2rem;
}
.blog-head h1{
    color: darkslategray;
    margin-left: 10px;
    font-size: 1.7rem;
}
.blog-text{
    line-height: 1.5;
    color: rgb(49, 49, 49);
    font-size: 1rem;
    font-weight: 400;
}
.continue-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.continue-btn{
    text-decoration: none;
    border: 1px solid darkcyan;
    background-color: darkcyan;
    color: white;
    padding: 8px 15px;
}
.social-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.blog-right{
    /* border: 1px solid gray; */
}
.archives{
    margin-bottom: 15px;
}
.selected{
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 8px 10px;
    margin-bottom: 15px;
}
.categori{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid gainsboro;
    margin-bottom: 15px;
    margin-top: 15px;
}
.post{
    display: flex;
    margin-bottom: 25px;
    margin-top: 20px;
}
.post img{
    width: 90px;
    height: 60px;
    margin-right: 15px;
}
.galary{
    margin-bottom: 20px;
}
.galary1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.galary1 img{
    width: 140px;
    border: 2px solid white;
    height: 120px;
}
/* #galary-mid{
    width: 250px;
} */
@media only screen and (max-width:688px){
    .blog-head h1{
        font-size: 1rem;
    }
    .blog-container{
        margin-top: 90px;
    }
    /* .galary{
        display: none;
    } */
    .galary1 img{
        width: 100px;
    }
}